</div>
<div id="footer">
    <div class="container">
        <p class="text-muted">&copy; YelpCamp 2017 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a></p>
    </div>
    <table border="0px" align="center">
        <tr>
            <td width="16%">
                <a href="https://www.youtube.com/channel/UCAepkrKRuWbiW37R9UxK6pQ?view_as=subscriber" target="_blank">
                    <div class="container" id="social">
                        <div class="cube">
                            <div class="side back black">
                                <i class="fab fa-youtube"></i>
                            </div>
                            <div class="side left grey">
                                <i class="fab fa-youtube"></i>
                            </div>
                            <div class="side front grey">
                                <i class="fab fa-youtube"></i>
                            </div>
                            <div class="side right grey">
                                <i class="fab fa-youtube"></i>
                            </div>
                            <div class="side top grey">
                                <i class="fab fa-youtube"></i>
                            </div>
                            <div class="side bottom grey">
                                <i class="fab fa-youtube"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </td>
            <td width="16%">
                <a href="https://twitter.com/RohanNishant2" target="_blank">
                    <div class="container" id="social">
                        <div class="cube">
                            <div class="side back twitter">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="side left grey">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="side front grey">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="side right grey">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="side top grey">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="side bottom grey">
                                <i class="fab fa-twitter"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </td>
            <td width="16%">
                <a href="https://www.facebook.com/rohan.nishant.56" target="_blank">
                    <div class="container" id="social">
                        <div class="cube">
                            <div class="side back facebook">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                            <div class="side left grey">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                            <div class="side front grey">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                            <div class="side right grey">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                            <div class="side top grey">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                            <div class="side bottom grey">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
    </table>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>

</html>