<%- include('partials/header'); -%> 

<h1>
    Landing Page!!!<br>
    Welcome to YelpCamp
</h1>

<p>
    The YelpCamp landing page..<br>
</p>

<a href="/campgrounds">View all the Camp landing sites..</a>

<%- include('partials/footer'); -%> 