<%- include('./partials/header'); -%>

<h1>
    Login
</h1>

<form method="post" action="/login">
    <input type="text" name="username" placeholder="Type registered Username">
    <input type="password" name="password" placeholder="Type your Password">
    <input type="submit">
</form>

<%- include('./partials/footer'); -%>