<h1>
    Sign Up!
</h1>

<form method="post" action="/register">
    <input type="text" name="username" placeholder="Type desired Username">
    <input type="password" name="password" placeholder="TYpe Password here">
    <input type="submit">
</form>